.hero 
  background: url('/assets/bg_image.jpg') no-repeat 
  background-size: cover;
  height: 100vh;
  position: relative;

  /* Add semi-transparent mask to improve text readibility */
.hero::before 
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;


.hero-text 
  /* Text float on the upper layer */
  position: absolute;
  z-index: 2;

  /* Horizontally and vertically central */
  top: 45%;
  left: 35%;
  transform: translate(-50%, -50%);

  color: #fff;
  text-align: center;

.hero-text h1 
  font-size: 6rem;
  margin: 0;


/* —— 新增：淡入上浮动画 —— */
.fade
  opacity 0
  transform translateY(20px)

/* 触发动画并保留最终状态 */
.fade.in
  animation-name fadeInUp
  animation-duration 0.6s
  animation-fill-mode forwards
  animation-delay 0s

.delay-0
  animation-delay 0.3s

.delay-1
  animation-delay 1s

@keyframes fadeInUp
  0%
    opacity 0
    transform translateY(20px)
  100%
    opacity 1
    transform translateY(0)